header.mdl-layout__header
  .mdl-layout__header-row
    .mdl-layout-spacer
    button#user-menu.mdl-button.mdl-js-button.mdl-button--icon
      i.material-icons more_vert
    ul(for='user-menu').mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect
      li.mdl-menu__item Profile
      li.mdl-menu__item Settings
      li.mdl-menu__item Logout
