table.mdl-data-table.mdl-js-data-table.mdl-data-table--selectable.mdl-shadow-2dp
  thead
    tr
      th.mdl-data-table__cell--non-numeric Term
      th Description
      th Actions
  tbody
    tr
      td.mdl-data-table__cell--non-numeric Brick
      td red and bad for your teeth
      td X
    tr
      td.mdl-data-table__cell--non-numeric Sails.js
      td Has a few holes in the hulls
      td X
